body{
    margin: 0;
    padding: 0;
    background:url(https://img.freepik.com/vetores-premium/conceito-futurista-de-fundo_23-2148473541.jpg?size=626&ext=jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    font-size: 100%;
    color: white;
}
img{
    width: 17%;
    
}
a{
    background-color: #ccc;
    display: block;
    padding: 12px;
    border-radius: 15px;
    text-decoration: none;
    margin-left: none;
    width: fit-content;
}
p{
    font-size: 50px;
}
